function Main.main 0
push constant 1
push constant 1
call Screen.drawPixel 2
pop temp 0
push constant 1
push constant 2
call Screen.drawPixel 2
pop temp 0
push constant 1
push constant 3
call Screen.drawPixel 2
pop temp 0
push constant 1
push constant 4
call Screen.drawPixel 2
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 1
push constant 1
call Screen.drawPixel 2
pop temp 0
push constant 1
push constant 3
call Screen.drawPixel 2
pop temp 0
push constant 0
return
