function Mouth.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 3
pop static 0
push argument 0
pop this 0
push pointer 0
push this 0
call Mouth.draw 2
pop temp 0
push pointer 0
return
function Mouth.moveRight 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
push static 0
add
push constant 31
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
call Mouth.erase 2
pop temp 0
push this 0
push argument 1
add
pop this 0
push pointer 0
push this 0
call Mouth.draw 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Mouth.moveLeft 0
push argument 0
pop pointer 0
push this 0
push argument 1
sub
push constant 1
add
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
call Mouth.erase 2
pop temp 0
push this 0
push argument 1
sub
pop this 0
push pointer 0
push this 0
call Mouth.draw 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Mouth.getStart 0
push argument 0
pop pointer 0
push this 0
return
function Mouth.draw 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 16384
push argument 1
add
pop local 1
push local 1
push constant 0
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 32574
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 16190
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 2040
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 1984
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push constant 16384
push argument 1
add
push local 0
add
push constant 1
add
pop local 1
push local 1
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 16384
push argument 1
add
push local 0
add
push constant 1
add
pop local 1
push local 1
push constant 0
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 16128
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 16128
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 8064
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 3968
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Mouth.erase 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 16384
push argument 1
add
pop local 1
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label WHILE_EXP0
push local 0
push static 0
lt
not
if-goto WHILE_END0
push constant 16384
push argument 1
add
push local 0
add
push constant 1
add
pop local 1
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 16384
push argument 1
add
push local 0
add
push constant 1
add
pop local 1
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
